.navbar {
background-color: rgb(183, 237, 183);
height: 80px;
font-family: 'Times New Roman', Times, serif;
font-size: large;
}

.navbar-brand {
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.container-fluid {
    text-align: center;
    margin-top: 30px;
}

#userNames {
font-size: large;
}

#pickCategory {
font-size: large;
}

#taskPriority {
    font-size: large;
}

#deadline {
    font-size: large;
}

.form-control {
margin-left: 50%;
height: fit-content;
}

#userDataForm {
    text-align: center;
}

h1 {

font-family: 'Times New Roman', Times, serif;

}

.btn {

    font-size: large;
    font-family: 'Times New Roman', Times, serif;

}